<!--VERSÂO MASTER-->
@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4 danger"><b>Bem Vindo!</b></h1>
    <p>Você tem permissões para:</p>

    <div class="container col-9 border-1">

        <table class="table-responsive-md">

            <tr>
                <td class="container-tabela">
                    <a class="card p-3" style=" width: 10rem;" asp-controller="Pedidos" asp-action="Index">
                        <img src="./lib/img/tags.svg" alt="Pedidos" />
                        <p>Pedidos</p>
                    </a>
                </td>
                <td class="container-tabela">
                    <a class="card p-3" style=" width: 10rem;" asp-controller="Clientes" asp-action="Index">
                        <img src="./lib/img/person-bounding-box.svg" alt="Cliente" />
                        <p>Clientes</p>
                    </a>
                </td>
                <td class="container-tabela">
                    <a class="card p-3" style=" width: 10rem;" asp-controller="Produtos" asp-action="Index">
                        <img src="./lib/img/shop-window.svg" alt="Produtos" />
                        <p>Produtos</p>
                    </a>
                </td>
                <td class="container-tabela">
                    <a class="card p-3" style=" width: 10rem;" href="#"> <img src="./lib/img/cart-plus.svg" alt="Carrinho" /> <p>Carrinho</p> </a>
                </td>
                <td class="container-tabela">
                    <a class="card p-3" style=" width: 10rem;" href="#"> <img src="./lib/img/calendar2-check.svg" alt="Histórico" /> <p>Histórico</p> </a>
                </td>
            </tr>

        </table>

    </div>
