@model List<PizzaEverisDay.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<table class = "table">
    <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Telefone</th>
    </tr>

    @foreach (var item in Model)
            {
<tr>
    <td>@item.CPF</td>
    <td>@item.Nome</td>
    <td>@item.Data_Nascimento</td>
    <td>@item.Telefone</td>
</tr>
            }
</table>