@{
    ViewData["Title"] = "Cadastro";

    
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <label>Nome:</label>
    <input type="text" id="nome" name="nome" />
    <label>Data de Nascimento:</label>
    <input type="text" id="dataNascimento" name="dataNascimento" />
    <label>CPF:</label>
    <input type="text" id="CPF" name="CPF" />
    <label>Telefone:</label>
    <input type="text" id="telefone" name="telefone" />
    <button>Cadastrar</button>
</form>
 