@model PizzaEverisDay.Models.ProdutosParaPedido

@{
    ViewData["Title"] = "Create Client";
}

<h1>Cadastrar</h1>

<h4>Cliente</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">CPF</label>
                <input type="text" class="form-control" id="CPF" name="CPF" required>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nome Completo</label>
                <input type="text" class="form-control" id="Nome" name="Nome" required>
                <span asclass="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dada de nascimento</label>
                <input type="text" class="form-control" id="Data_Nascimento" name="Data_nascimento" required>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefone</label>
                <input type="text" class="form-control" id="Telefone" name="Telefone" required>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cidades</label>
                <span class="text-danger"></span>
            </div>
            <select name="IdCidade">
                @foreach (var item in Model.ListaCidade)
                {
                    <option value="@item.IdCidade">
                        @item.Nome
                    </option>
                }
            </select>
            <div class="form-group">
                <label class="control-label">Logradouro</label>
                <input type="text" class="form-control" id="Logradouro" name="Logradouro" required>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Numero</label>
                <input type="text" class="form-control" id="Numero" name="Numero" required>
                <span asclass="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Complemento</label>
                <input type="text" class="form-control" id="Complemento" name="Complemento" required>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bairro</label>
                <input type="text" class="form-control" id="Bairro" name="Bairro" required>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CEP</label>
                <input type="text" class="form-control" id="CEP" name="CEP" required>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}